version: "3.7"
services:
  assetstorm-postgres:
    image: postgres:alpine
    restart: unless-stopped
    environment:
      LC_ALL: "C.UTF-8"
      POSTGRES_USER: "assetstorm"
      POSTGRES_PASSWORD: "test"
      POSTGRES_DB: "assetstorm"

  assetstorm:
    image: assetstorm/assetstorm:latest
    depends_on: 
        - assetstorm-postgres
    environment:
      SERVER_NAME: "assetstorm"
      LC_ALL: "C.UTF-8"
      AS_POSTGRES_USER: "assetstorm"
      AS_POSTGRES_PASSWORD: "test"
      AS_POSTGRES_DB: "assetstorm"
      AS_POSTGRES_HOST: "assetstorm-postgres"
      AS_DEBUG: "True"

  assetstorm-nginx:
    restart: always
    image: assetstorm/nginx-python:latest
    ports:
      - "8081:8081"
    depends_on:
      - assetstorm
    environment:
      PYTHON_HOST: "assetstorm"

  s3:
    image: minio/minio
  
  markdown2assetstorm:
    image: assetstorm/markdown2assetstorm:latest
  
  markdown2assetstorm-nginx:
    restart: unless-stopped
    image: assetstorm/nginx-python:latest
    ports: 
      - "8082:8082"
    depends_on:
      - markdown2assetstorm
    environment:
      PYTHON_HOST: "markdown2assetstorm"

  assetstorm2template:
    image: assetstorm/assetstorm2template:latest
    depends_on:
      - assetstorm
    environment:
      ASSETSTORM_URL: "assetstorm-nginx:8081"

  assetstorm2template-nginx:
    restart: unless-stopped
    image: assetstorm/nginx-python:latest
    ports:
      - "8083:8083"
    depends_on:
      - assetstorm2template
    environment:
      PYTHON_HOST: "assetstorm2template"