version: "3.7"
services:
  assetstorm-postgres:
    image: postgres:alpine
    restart: unless-stopped
    environment:
      LC_ALL: "C.UTF-8"
      POSTGRES_USER: "assetstorm"
      POSTGRES_PASSWORD: "test"
      POSTGRES_DB: "assetstorm"

  assetstorm:
    image: assetstorm/assetstorm:latest
    restart: unless-stopped
    depends_on: 
      - assetstorm-postgres
    environment:
      SERVER_NAME: "assetstorm"
      LC_ALL: "C.UTF-8"
      AS_POSTGRES_USER: "assetstorm"
      AS_POSTGRES_PASSWORD: "test"
      AS_POSTGRES_DB: "assetstorm"
      AS_POSTGRES_HOST: "assetstorm-postgres"
      AS_DEBUG: "True"

  assetstorm-nginx:
    restart: unless-stopped
    image: assetstorm/nginx-python:latest
    ports:
      - "8081:80"
    depends_on:
      - assetstorm
    environment:
      PYTHON_HOST: "assetstorm"

  markdown2assetstorm:
    image: assetstorm/markdown2assetstorm:latest

  markdown2assetstorm-nginx:
    restart: unless-stopped
    image: assetstorm/nginx-python:latest
    ports:
      - "8082:80"
    depends_on:
      - markdown2assetstorm
    environment:
      PYTHON_HOST: "markdown2assetstorm"

  assetstorm2template:
    image: assetstorm/assetstorm2template:latest
    depends_on:
      - assetstorm
    environment:
      ASSETSTORM_URL: "assetstorm-nginx"

  assetstorm2template-nginx:
    restart: unless-stopped
    image: assetstorm/nginx-python:latest
    ports:
      - "8083:80"
    depends_on:
      - assetstorm2template
    environment:
      PYTHON_HOST: "assetstorm2template"

  dispatcher:
    image: assetstorm/dispatcher:latest
    restart: unless-stopped
    environment:
      ASSETSTORM_URL: "http://assetstorm-nginx"
      INTERN_ASSETSTORM_URL: "http://assetstorm-nginx"
      MARKDOWN2ASSETSTORM_URL: "http://markdown2assetstorm-nginx"
      ASSETSTORM2TEMPLATE_URL: "http://assetstorm2template-nginx"
      SERVER_NAME: "dispatcher"

  dispatcher-nginx:
    restart: unless-stopped
    image: assetstorm/nginx-python:latest
    ports:
      - "8084:80"
    depends_on:
      - dispatcher
    environment:
      PYTHON_HOST: "dispatcher"
